/* Sticky footer styles (from https://getbootstrap.com/docs/3.3/examples/sticky-footer/)
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
}

/* Header style
-------------------------------------------------- */
.header {
    background-color: #c00000;
    color: white;
    padding: 0;
}

.header .container .title {
    padding: 10px 15px;
}

.header .container .title h3 {
    font-weight: bold;
    margin: 0;
    display: inline-block;
}

.header .container nav a:link, .header .container nav a:visited {
    /*display: inline-block;*/
    margin: 0 7px 10px 7px;
    /*color: #FF9B9B;*/color: #FFDDDD;
    text-decoration: none;
    font-size: larger;
}

.header .container nav a:hover, .header .container nav a.active {
    color: white;
    text-decoration: none;
}

.header .container nav a.active {
    font-weight: bolder;
}

.header .container nav a:active {
    /*display: inline-block;*/
    margin: 0 7px 10px 7px;
    color: #FF9B9B;
    text-decoration: none;
}

/* Content style
-------------------------------------------------- */

.content {
    height: auto;
    padding-top: 10px;
}

.content #page-subnav {
    padding: 4px 7px;
}

.content #page-subnav ul { /* from https://alistapart.com/article/taminglists */
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

.content #page-subnav ul li:before {
    content: "\0BB \020"; /* >> followed by space */
}

.content #page-subnav ul li a.active {
    font-weight: bold;
}

.content #page-loading {
    padding: 20px;
    text-align: center;
}

.content #page-loading i {
    font-size: large;
}

.content #page-content img {
    max-width: 100%;
}

/* Footer style
-------------------------------------------------- */

.footer {
    background-color: #dddddd;
    padding: 10px 0px;
    text-align: center;
}
